body{
		margin: 0 auto;
		Width: 1400px;
		font-size: 16px;
		font: "Times New Roman";
		background: beige;
	}
header{
		Font:"Times New Roman";
		Background: beige;
		Width: 1400px;
		text-align: center;		
		}
ul{
	list-style-type: none;
	Margin: 0;
	Padding: 0;
	overflow: hidden;
	background: beige;
	border-radius: 40px;
	}
li{
	float: left;
}
li a{
		display: block;
		color: black;
		text-align: center;
		padding: 14px 16px;
}
#Fishtank{
				float:left;
				margin: 15px;
}
#Fishtank1{
			float:left;
			margin: 15px;
}
#Fishfood{
			float:left;
			margin: 15px;
}
#Fishfood1{
			float:left;
			margin: 15px;
}
aside{
		float: left; 
		width: 400px;
		min-height: 500px;
		padding-top: 10px;
		padding-right: 10px;
}
section{
		float: right;
		width: 800px;
		min-height: 300px;
		text-align: justify;
		font-size: 68;
		font:"Times New Roman";
		text-align: center;
		
}
footer{
			clear: both;
			width:1400px;
			Height:100px;
			text-align: center;
}
