body{
		margin: 0 auto;
		Width: 1400px;
		font-size: 16px;
		font: "Times New Roman";
		background: LightSteelBlue;
	}
header{
		Font:"Times New Roman";
		Background: LightSteelBlue;
		Width: 1400px;
		text-align: center;		
		}
ul{
	list-style-type: none;
	Margin: 0;
	Padding: 0;
	overflow: hidden;
	background: LightSteelBlue;
	border-radius: 40px;
	}
li{
	float: left;
}
li a{
		display: block;
		color: black;
		text-align: center;
		padding: 14px 16px;
} 
#Girl1{
		float: center;
		margin: 15px;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
  		width: 50%;
}
#Girl2{
		float: center;
		margin: 15px;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
  		width: 50%;
}
#Girl3{
float: center;
		margin: 15px;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
  		width: 50%;
}
#Boy1{
float: center;
		margin: 15px;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
  		width: 50%;
}
section{
			font-size: 24px;
			text-align: center;
			border-style: solid;
}
s3{
font-size: 40;
}















